<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Sharing</title>

    <!-- jQuery -->
    <script src="ng/public/jquery/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="ng/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="ng/public/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <br /><br /><br />
        <h1>
            Share code real-time
            <br />
            with other developers or with your team
        </h1>
        <p class="mt-20">
            <a href="#" class="btn btn-primary text-bold padLR-20 padTB-10">Share Code Now</a>
        </p>
        <small>No sign up required</small>
    </div>
</body>

</html>
