{%extends "/layouts/base.html"%}
{%block content%}
<nav class="settings">
  <ul>
    <li>
      <button class="btn btn-lg btn-gray mb-10" alt="New" title="New">
        <i class="glyphicon glyphicon-plus text-white"></i>
      </button>
    </li>
    <li>
      <button class="dropdown-toggle btn btn-lg btn-gray" alt="Settings" title="Settings">
        <i class="glyphicon glyphicon-cog text-white"></i>
      </button>
      <div class="dropdown" style="display: none;">
        <label>Themes</label>
        <select class="form-control" onchange="init('midnight')">
          <option value="default">Default</option>
          <option value="monaki">Monaki</option>
          <option value="midnight">Midnight</option>
        </select>
        <input type="submit" style="display: none;" id="submit">
      </div>
    </li>
  </ul>
</nav>

<textarea id="firepad-container" class="CodeMirror cm-s-midnight "></textarea>
{%endblock%}
{%block script%}
<script>
   $(".dropdown-toggle").click(function() {
      $(".dropdown").slideToggle( "slow", function() {
        // Animation complete.
      });
    });

   function init(theme) {
      var firepadRef = getRef();
      var codeMirror = CodeMirror(document.getElementById('firepad-container'), {
        lineNumbers: true,
        theme : theme,
        keymap: 'emacs',
        mode: 'python'
      });
      var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, {
        defaultText: '//Welcome to Code-Share. You may code and share'
      });
    }

    function chmode(mode){

    }

    function chtheme(theme){

    }

    function chkeymap(keymap){

    }


    // Helper to get hash from end of URL or generate a random one.
    function getRef() {
      var ref = new Firebase('https://codex-for-all.firebaseio.com');

      var hash = window.location.hash.replace(/#/g, '');
      if (hash) {
        ref = ref.child(hash);
      } else {
        ref = ref.push(); // generate unique location.
        window.location = window.location + '#' + ref.key(); // add it as a hash to the URL.
      }
      if (typeof console !== 'undefined')
        console.log('Firebase data: ', ref.toString());
      return ref;
    }
    init('default');
</script>

{%endblock%}
