{%extends "/layouts/base.html"%}

{%block content%}
<div class="container text-center">

    <br /><br /><br />
    <p style="height: 170px;">
        <img src="/static/img/codex.png">
    </p>
    <p class="font48 mt-70 text-white">
        Share code real-time
        <br />
        with other developers or with your team
    </p>
    <p class="mt-20">
        <a href="/code_share/editor" class="btn btn-primary text-bold padLR-20 padTB-10">Share Code Now</a>
    </p>
    <small class="text-white">No sign up required</small>

    <br />    <br />    <br />    <br />
    <small class="text-white">&copy; TEAM Bagulan: Joeper, Uly, Erika, Mike, Jofel</small>
</div>
{%endblock%}
