{%extends "/layouts/base.html"%}

{%block content%}
<div class="container text-center">

  <br /><br /><br />
  <p>
    <img src="/static/img/codex.png">
  </p>

  <div class="mt-70 mb-10 text-white">
    <h1 class="h-thin">Want to <span class="element text-bold"></span> your code real-time?</h1>
  </div>

  <p class="mt-20 text-white font19">Sharing code was never this easy.</p>

  <p class="mt-20">
    <a href="/codex" class="btn btn-primary text-bold padLR-20 padTB-10">Share Code Now</a>
  </p>

  <small class="text-white">No sign up required</small>

  <br />    <br />    <br />    <br />
  <small class="text-white">
    &copy; TEAM Bagulan: Erika Cura, Jofel Bayron, Mike Cajurao, Ulyses Rico, Joeper Serrano
  </small>
</div>

{%endblock%}
{%block script%}
<script src="/static/js/codeshare.js"></script>
{%endblock%}
