.form-wrap {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.box {
    background: none repeat scroll 0 0 white;
    max-width: 500px;
    border: 1px solid #DBDEE3;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: normal;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.float-none {
    float: none !important;
}

.float-right {
    float: right !important;
}

.margin-auto {
    margin: 0 auto !important;
}

.btn-green {
    color: #FFF;
    background-color: #23A23D;
    border-color: #398439;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-white {
    color: #FFF !important;
}

.text-black {
    color: #000 !important;
}

.text-bold {
    font-weight: bold !important;
}

.font17 {
    font-size: 17px!important;
    line-height: 19px!important;
}

.clearfix {
    clear: both !important;
}

.bg-blue {
    background: #085394 !important;
}

.padLR-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.padLR-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.padLR-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.padLR-50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.padTB-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padTB-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.padTB-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mr-5 {
    margin-right: 5px !important;
}
